*body, ul {
    margin: 0;
    padding: 0;
  }
 
  nav {
    background-color: #ffffff;
  }
 
  ul {
    padding: 30px;
    text-align: center;
    font-size: 30px;
  }
  .imagen-editada{ width: 140px; /* Ancho de la imagen */
    height: 140px; /* Altura automática para mantener la proporción original */
    display: block; /* Hace que la imagen sea un bloque para ajustar su ancho */
  }
 
  li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin: 20px; /* Espaciado entre elementos */
  }
  a {
    text-decoration: none; /* Quita la subrayado de los enlaces */
    color:#365B6D;
    font-weight: bold; /* Texto en negritas */
  }
input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}


body{
    background-color: #365B6D;
}
h1{ margin-top: 10px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;}

.imagen{
    float: left;
    height: 170px;
    width: 200px;
    text-align: center;
    margin-top: 100px;
    margin-left: 55px; 
    border-radius: 20px;
}


h4{ margin-right: 400px;
    margin-top: 50px;
    text-align: right;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif ;
}
    
.texto2 {
    margin-top: 20px;
    text-align: left;
    margin-left: 80px;


}

.texto1 {
    
    margin-top: 170px;
    text-align: left;
    margin-left: 280px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.agrego1 {

    display: flex;
}

.txt-1 {
    margin-right: 40px;

}

.txt-2 {
    height: 600px;
    margin-top: 10px;
    margin-left: 130px;
    background-color: #142c39;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
    color: white;


}
.Mainforms {
    text-align: center;
}
.Phishing-title{
    font-family: Arial, Helvetica, sans-serif;
    
    margin-right: 130px;
    
}
.Phishing {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin: 10px;
}
.Phishing-2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin: 10px;
}
.Pharming-title {
    font-family: Arial, Helvetica, sans-serif;
    
    margin-right: 200px;
}
.Pharming-1{
    font-family: Arial, Helvetica, sans-serif;
margin-left: 50px;
margin: 10px;
}
.Pharming-2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin: 10px;
}
.Pharming-3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin: 10px;
}
.detect {
    text-align: center;
    width: 1200px;
    height: 180px;
    background-color: #142c39;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 20px;

}

.detect-1 {
    float: left;
    margin-top: 75px;
    margin-left: 20px;

}
.texto { 
    font-size: 20px;
    margin: 30px;
    display: flex;
    margin-left: 450px;
    text-align: center;
    margin-top: 60px ;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;

}   
.vertical-1 {
    border: none;
    width: 1px;
    border-left: 2px solid;
    height: 100px;

} 
.vertical-2 {
    border: none;
    width: 1px;
    border-left: 2px solid;
    height: 100px;

} 
.vertical-3 {
    border: none;
    width: 1px;
    border-left: 2px solid;
    height: 100px;

} 


.example {
    margin: 10px;
    border-radius: 20px;
    margin-top: 20px;
    float: right;
    margin-right: 10px;
    height: 110px;
    width: 120px;
}


h2{ 
    font-size: 25px;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    

}

.linea {
    margin-top: 80px;
    width: 500px;
}

.footer{
    background-color: #24262B;
    padding: 80px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #5271ff;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a{
font-size: 18px;
text-decoration: none;
color: #BBBBBB;
display: block;
margin-bottom: 15px;
transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10 0 px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;

}
.social-link a:hover{
    background-color: #3498db;

}
@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;

    }
}

