body {
    margin: 0;
    padding: 0;
    background-color: #6e7f8f; /* Fondo gris */
    font-family:'Poppins', sans-serif;
}


div {
    color: #ffffff;
}
p{
    color: #ffffff; 
    font-size: 25px;
    text-align: center; 
}

img{
  float: center;
}

hr{
    text-align: center;
}

div {
    color: #ffffff;
}