*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.title {
  color: rgb(52, 86, 198);
  text-align: center;
}
.box-title{
  margin-left: 360px;
  height: 50px;
  width: 600px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(19, 89, 93, 0.4);
}

.scam-anti {
    margin-top: 40px;
    margin-left: 530px;
    text-align: center;
}
.lets {
  color: rgb(52, 86, 198);
  margin-top: 60px;
  text-align: center;
}
.what {
  margin-left: 300px;
  margin-top: 90px;
  color: rgb(52, 86, 198);
}
.parrafo{
  margin-top: 20px;
  margin-left: 300px;
  color: black;
  text-align: justify;
}
.parrafo-1 {
  margin-top: 15px;
}
.parrafo-2 {
  margin-top: 15px;
}
.parrafo-3 {
  margin-top: 15px;
}
.types-scam {
    margin-left: 300px;
    margin-top: 90px;
    color: rgb(52, 86, 198);
}
.parrafo-4 {
  margin-top: 20px;
  margin-left: 300px;
  color: black;
  text-align: justify;
}
.parrafo-5 {
  margin-top: 15px; 
}
.parrafo-6 {
    margin-top: 15px; 
}
.fondo{
    margin-left: 130px;
    width: 340px;
    height: 220px;
    background-color:rgb(52, 86, 198);
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    transition: background-color 0.3s; /* Transición suave de color */;
}
.fondo:hover {
    background-color: rgb(37, 61, 159)/* Nuevo color cuando el mouse está sobre el botón */
    
  }
.types {
    color: white;
    margin-top: 40px;
}
.li1 {
    margin-left: 25px;
    margin-top: 30px;
}
.li2 {
    margin-left: 25px;
    margin-top: 12px;
}
.li3 {
    margin-left: 25px;
    margin-top: 12px;
}
.li4 {
    margin-left: 25px;
    margin-top: 12px;
}
.li5 {
    margin-left: 25px;
    margin-top: 12px;
}
.li6 {
    margin-left: 25px;
    margin-top: 12px;
    margin-bottom: 10px;
}
.parrafo-8 {
    margin-top: 30px;
}
.how-recognize {
    text-align: center;
    margin-top: 90px;
    color: rgb(52, 86, 198);
  }
.fake1 {
    margin-left: 370px;
}
.what-fake {
    margin-left: 300px;
    margin-top: 90px;
    color: rgb(52, 86, 198)
}
.faketext {
    margin-top: 20px;
    margin-left: 300px;
    color: black;
    text-align: justify
}
.how-identify {
    margin-left: 300px;
    margin-top: 90px;
    color: rgb(52, 86, 198)
}
.howcan {
    margin-top: 20px;
    margin-left: 300px;
    color: black;
    text-align: justify
}
.fake2 {
    margin-left: 515px;
}
*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}


footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right,#00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}
.row{
width: 85%;
margin: auto;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
text-decoration: none;
color: #fff;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }

}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;

    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}
