*{
    background: color #ffffff; 
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}
h1{font-size: 2em;}
p{font-size: 1em;}
button{
    font-size: 1em;
    font-weight: bold;
    box-shadow:2px 2px 2px rgba(0, 0, 0, o.5);
    color: white;
    background-color: #5271ff;
    padding: 10px 30px;
    border-radius: 3px;
}
body{
    font-family: sans-serif;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
} 
/* Este es el ccs del footer*/
.footer{
    background-color: #24262B;
    padding: 80px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #5271ff;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a{
font-size: 18px;
text-decoration: none;
color: #BBBBBB;
display: block;
margin-bottom: 15px;
transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10 0 px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;

}
.social-link a:hover{
    background-color: #3498db;

}
@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;

    }
}
input{
    font-size: 1em;
    font-weight: bold;
    box-shadow:2px 2px 2px rgba(0, 0, 0, o.5);
    color: white;
    background-color: #41C1BA;
    padding: 10px 30px;
    border-radius: 3px;
}
input:hover{
    background-color:#5772EF;
}
button:hover{
background-color: aliceblue;
}

/* CSS para el header */
header {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    color:#365B6D;
    padding: 20px 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: auto;
    font-weight:auto;
    height: auto;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-left: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

/* CSS para el home */
.Home{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #365B6D;
    color: #ffffff;
    font-size: 300;
    height: 20rem;
    padding: 30px;
}
.home2{
    height: 261px;
    width: 330px;
    padding-top: 65px;
    padding-right: 30px;
}



.conta{
    background-color: #a6a6a6;
    height: 30rem;
    padding-top: 4%;
    display: flex;
    justify-content: space-evenly;
    }
    .conta .card .card1 .card2 .card3:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
    .card{
        background-image: url(Imagenes/Captura\ de\ pantalla\ 2023-10-13\ 192038.png);
        background-size: cover;
        border: 1px solid black;
        text-align: center;
        padding-top: 15%;
        height: 5rem;
        width: auto;
    }
    .card1{
        background-image: url(Imagenes/Oddie.png);
        background-size: cover;
        border: 1px solid black;
        text-align: center;
        padding-top: 15%;
        height: 5rem;
        width: auto;
    }
    .card2{
        background-image: url(Imagenes/Captura\ de\ pantalla\ 2023-10-13\ 192116.png);
        background-size: cover;
        border: 1px solid black;
        text-align: center;
        padding-top: 15%;
        height: 5rem;
        width: auto;
    }
    .card3{
        background-image: url(Imagenes/Captura\ de\ pantalla\ 2023-10-13\ 192100.png);
        background-size: cover;
        border: 1px solid black;
        text-align: center;
        padding-top: 15%;
        height: 5rem;
        width: auto;
    }
.community1{
    font-size: medium;
    background-color: #365B6D;
    text-align: justify;
    color: #365B6D;
}
.p{
    font-size: medium;
}
.nav{
    font-size: medium;
    background-color: #365B6D;
}
footer {
    display: flex;
    background-color: #494242;
    color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}


.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-block {
    background-color: #494242;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

img {
    width: 100px;
    height: 100px;
}


.right-section {
    text-align: right;
}

.button-container {
    display: flex;
    align-items: center;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}


.subtitle {
    color: #666;
    font-size: 18px;
    margin: 10px 0;
}

.button-container input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
}

.button-container button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

.social-icons img {
    width: 20px;
    margin: 0 5px;
}
.community1{
    background: #365B6D;
    font-size: small;
}
/*Css de la segunda pagina de home*/
.grid{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #A6A6A6;

}
.grid div{
    background: #ffffff;
    padding: 1em;

}
.grid div:hover{
    border: 1px solid #5772EF;
}

/* 4 pagina del home */
body {
    background-color: #365B6D;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    color: white;
}

/* Estilos de la parte izquierda */
.left-section {
    padding: 20px;
}

h1 {
    font-size: 24px;
}

.subtitle {
    color: #888;
    text-align: justify;
    margin-top: 10px;
}

/* Estilos de las cartas */
.card {
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Estilos de la partenshinha derecha */
.right-section {
    flex: 1;
    text-align: center;
    padding: 20px;
}

/* Estilos de la imagen  */
.right-section img {
    max-width: 100%;
    height: auto;
}

.awa{
    float: right;
}
.page1{
    background-color: #A6A6A6;
}
.page2{
    background-color: #1E1E49;
}
body, ul {
    margin: 0;
    padding: 0;
  }
 
  nav {
    background-color: #ffffff;
  }
 
  ul {
    padding: 30px;
    text-align: center;
    font-size: 30px;
  }
  .imagen-editada{ width: 140px; /* Ancho de la imagen */
    height: 140px; /* Altura automática para mantener la proporción original */
    display: block; /* Hace que la imagen sea un bloque para ajustar su ancho */
  }
 
  li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin: 20px; /* Espaciado entre elementos */
  }
  a {
    text-decoration: none; /* Quita la subrayado de los enlaces */
    color:#365B6D;
    font-weight: bold; /* Texto en negritas */
  }
input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
/*4 pagina css*/
.izquierda{
    background: #365B6D;
    height: 100vh;
    width: 50%;
}
.derecha{
    background:url(Imagenes/Screenshot__6_-removebg-preview.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 50%;
}
#pantalla-divida{
    display: flex;
}
.creative{
    color: #ffffff;
    width: 50%;
}
.h1{
    font-size: 60px;
    margin-bottom: 40px;
}
p{
    font-size: 19px;
    line-height:30 px;
    width: 50%;
    margin:auto;

}
.link{
    text-align: center;
}