*{
    background: color #ffffff; 
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    box-sizing: border-box;
}
h1{font-size: 2em;}
p{font-size: 1em;}
button{
    font-size: 1em;
    font-weight: bold;
    box-shadow:2px 2px 2px rgba(0, 0, 0, o.5);
    color: white;
    background-color: #5271ff;
    padding: 10px 30px;
    border-radius: 3px;
}
input{
    font-size: 1em;
    font-weight: bold;
    box-shadow:2px 2px 2px rgba(0, 0, 0, o.5);
    color: white;
    background-color: #41C1BA;
    padding: 10px 30px;
    border-radius: 3px;
}
input:hover{
    background-color:#5772EF;
}
button:hover{
background-color: aliceblue;
}

/* CSS para el header */
header {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    color:#365B6D;
    padding: 20px 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-left: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

/* CSS para el home */
.Home{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #365B6D;
    color: #ffffff;
    font-size: 300;
}



.conta{
    background-color: #a6a6a6;
    height: 30rem;
    padding-top: 4%;
    display: flex;
    justify-content: space-evenly;
    }
    .conta .card .card1 .card2 .card3:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
    .card{
        background-image: url(Imagenes/Captura\ de\ pantalla\ 2023-10-13\ 192038.png);
        background-size: cover;
        border: 1px solid black;
        text-align: center;
        padding-top: 15%;
        height: 10rem;
        width: 15rem;
    }
    .card1{
        background-image: url(Imagenes/Oddie.png);
        background-size: cover;
        border: 1px solid black;
        text-align: center;
        padding-top: 15%;
        height: 5rem;
        width: auto;
    }
    .card2{
        background-image: url(Imagenes/Captura\ de\ pantalla\ 2023-10-13\ 192116.png);
        background-size: cover;
        border: 1px solid black;
        text-align: center;
        padding-top: 15%;
        height: 5rem;
        width: auto;
    }
    .card3{
        background-image: url(Imagenes/Captura\ de\ pantalla\ 2023-10-13\ 192100.png);
        background-size: cover;
        border: 1px solid black;
        text-align: center;
        padding-top: 15%;
        height: 5rem;
        width: auto;
    }
.community1{
    font-size: medium;
    background-color: #365B6D;
    text-align: justify;
    color: #365B6D;
}
.p{
    font-size: medium;
}
.nav{
    font-size: medium;
    background-color: #365B6D;
}
footer {
    display: flex;
    background-color: #494242;
    color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}


.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-block {
    background-color: #494242;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

img {
    width: 100px;
    height: 100px;
}


.right-section {
    text-align: right;
}

.button-container {
    display: flex;
    align-items: center;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}


.subtitle {
    color: #666;
    font-size: 18px;
    margin: 10px 0;
}

.button-container input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
}

.button-container button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

.social-icons img {
    width: 20px;
    margin: 0 5px;
}
.community1{
    background: #365B6D;
    font-size: small;
}




