body{ background-color: #365B6D;
    
}
body, ul {
    margin: 0;
    padding: 0;
  }
  nav {
    background-color: #ffffff; 
  }
  ul {
    padding: 45px;
    text-align: center; 
    font-size: 30px;
  }
  ul li a:hover {
    color: #ffffff; /* Color del texto al pasar el cursor */
    background-color: #365B6D;
    border-radius: 5px; /* Bordes más redondeados al pasar el cursor */
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 25px;
  }
  .sec{
    float: left;
}
  li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin: 40px; /* Espaciado entre elementos */
  }
  a {
    text-decoration: none; /* Quita la subrayado de los enlaces */
    color:#365B6D;
    font-weight: bold; /* Texto en negritas */
  }
input[type="text"] {
    flex: 10;
    border: none;
    outline: none;
    padding: 10px;
}
button {
    background: #5d96b3;
    border: none;
    cursor: pointer;
}
.fa-search {
    font-size: 20px;
}
  .content{ margin-left: 700px;
font-style: arial;
min-height: 80vh;
}
.mover-abajo{ position: relative; top: 90px;
}
.mover-abajo1{ position: relative; top: 240px;
}
.mover-abajo2{ position: relative; top: 80px;
}.mover-abajo3{ position: relative; top: 10px;
  font-size: 15px;
}.mover-abajo4{ position: relative; top: 10px;
  font-size: 15px;
}.mover-abajo5{ position: relative; top: 10px;
  font-size: 15px;
}.mover-abajo6{ position: relative; top: 5px;}
.titulo{
    width: 900px;
    margin-left: 180px;
    font-style: Arial, Helvetica, sans-serif;
    background-size:  500px;
    min-height: 10vh;
    font-size: 40px;
}
.mover-arriba{
    position: relative; top: -340px;
}
.mover-arriba2{
    position: relative; top: -340px;
}
.mover-arriba8{position: relative; top: -540px;
}
.mover-arriba1{
   position: relative;top: -520px;
   margin-left: 00vh;
   width: 180px;
   height: 180px
}
.lista{
  display: inline-table;
  display: list-item;
  font-size: 15px;
  padding: 10px;
  text-align: left; /* Alinea el texto a la izquierda */
}
