body{ background-color: #0082e6;
  /* Comienzo del NAV */
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;    
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float:right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
      font-size: 30px;
      padding-left: 50px;
  }
  nav ul li a{
font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
      display: block;
  }
  ul{
      position:fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  a:hover,a.active{
      background: none;
      color: #0082e6;
  }
  #check:checked ~ ul{
      left: 0;
  }
  /* termimanación del Nav */
}
  .content{ margin-left: 700px;
    font-family: 'Poppins', sans-serif;
  font-style: normal;
min-height: 80vh;
position: relative;top: -5px;
}
.mover-abajo{ position: relative; top: 90px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}
.mover-abajo1{ position: relative; top: 240px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}
.mover-abajo2{ position: relative; top: 80px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #ffffff;
  font-size: 45;
}.mover-abajo3{ position: relative; top: 10px;
  font-size: 20px; 
  font-family:'Poppins', sans-serif;
  font-style: normal;
  color: #ffffff;
}.mover-abajo4{ position: relative; top: 10px;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}.mover-abajo5{ position: relative; top: 10px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #ffffff; } 
  .mover-abajo6{ 
  position: relative; top: 5px;font-family: 'Poppins', sans-serif;
  font-style: normal;}
.titulo{
    width: 900px;
    margin-left: 150px;
    font-family: 'Poppins', sans-serif;
  font-style: normal;
    background-size:  500px;
    min-height: 20px;
    color: #ffffff;
    font-size: 25px;
    position: relative; top: 30px;
}
.mover-arriba{
    position: relative; top: -340px;font-family: 'Poppins', sans-serif;
    font-style: normal;
}
.mover-arriba2{
    position: relative; top: -340px;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    color: #ffffff;
font-style: normal;
font-size: 25px;
}
.mover-arriba8{position: relative; top: -540px;font-family:'Poppins', sans-serif;
  font-style: normal;
}
.mover-arriba1{
   position: relative;top: -520px;
   margin-left: 00vh;
   width: 190px;
   height: 190px;
   font-family: 'Poppins', sans-serif;
  font-style: normal;
}
.caja {
  width: 300px; /* Ancho de la caja */
  border: 2px solid #ffffff; /* Borde de 1 píxel de grosor */
  padding: 10px; /* Espacio interno */
  position: relative; top: -150px;
  margin-right: 300px;
}
img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho de la caja */
  height: auto; /* Escala la imagen proporcionalmente */
}
.caja1 {
  text-align: center; /* Alineación del texto al centro */
  color: #ffffff;
font-size: 20px;
}
.caja2 {text-align: center; /* Alineación del texto al centro */
  color: #ffffff;
font-size: 20px;}
.caja3 {
  width: 300px; /* Ancho de la caja */
  border: 2px solid #ffffff; /* Borde de 1 píxel de grosor */
  padding: 10px; /* Espacio interno */
  margin-left: 380px;
  position: relative;top: -150px;
}
.caja4{
  text-align: center; /* Alineación del texto al centro */
  color: #ffffff;
font-size: 20px;
}
.caja5 {
  width: 300px; /* Ancho de la caja */
  border: 2px solid #ffffff; /* Borde de 1 píxel de grosor */
  padding: 10px; /* Espacio interno */
  margin-left: 760px;
  position: relative;top: -150px;
}