body {
  font-size: 18px;
  background-color: #a6a6a6;
  color:white
  
}
aside{
  float:right;
}

div{
  margin-left: 2%;
}
.first{
  float: left;
  padding: 40px;
  
}

.second{
float: right;
padding: 49px;
margin-right: 0%;
font-size: medium;
}

.sec{
  float: left;
}

.Connections{

margin-right: 110px;
font-size: 30px;
}

.telefonito{

margin-right: 200px;
}

.phone{

margin-right: 110px;
}
.email{

margin-right: 200px;
}

.gmailts{

margin-right: 80px;
}

.location{

margin-right: 200px;
}
.tamaño{

font-size: medium;
}
.tamaño{
font-size: 18px;
}
